# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Testing
coverage/

# Misc
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
