{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "vitest",
    "@testing-library/react",
    "react",
    "<THIRD_PARTY_MODULES>",
    "^@\/app",
    "^@\/pages",
    "^@\/widgets",
    "^@\/features",
    "^@\/entities",
    "^@\/shared",
    "^[./]"
  ],
  "importOrderSeparation": true
}
